SERVER_PORT=5005

MYSQL_HOST=host.docker.internal
MYSQL_PORT=20001
MYSQL_USER=javacontactdemo_user
MYSQL_PASSWORD=@XOhPpDr%ZVVCg7E8J47vZ8^
MYSQL_DATABASE=javacontactdemo

REDIS_HOST=host.docker.internal
REDIS_PORT=20002

APP_NAME=java-contact-api
APP_ENV=development

# CORS Configuration
CORS_ALLOWED_ORIGINS=https://nuxt-contact-m48o97.apps.shotlin.in,http://localhost:3000,http://localhost:8080
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=*
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=3600